### Workflow:

- Before start:
    - Add files
    - Combine all files
    - import libraries
- Experiment:
    - EVERYTHING

# 1: Import libs and files

## Preprocessing

In [139]:
import pandas as pd
import matplotlib.pyplot as plt

# a = pd.read_csv('worldriskindex-datasets\worldriskindex-2000.csv')
# a.info()


a = pd.DataFrame()

link = 'worldriskindex-datasets\worldriskindex-'
for y in range(2000,2024):
    b = pd.read_csv(f"{link}{y}.csv")
    
    if ("Year" not in b.columns):
        b["Year"] = y

    if ("WRI.Country" in b.columns):
        b.rename(columns={'WRI.Country': 'Country'}, inplace=True)
        
    if ("ISO3.Code" in b.columns):
        b.rename(columns={'ISO3.Code': 'ISO3'}, inplace=True)
    
    a = pd.concat([a, b], axis=0)

# delete attr
a.drop(columns=["SI_10_Norm", "SI_10_Base", "SI_11_Norm"], inplace=True)
a.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4632 entries, 0 to 192
Data columns (total 245 columns):
 #    Column       Dtype
---   ------       -----
 0    Country      object
 1    ISO3         object
 2    W            float64
 3    E            float64
 4    V            float64
 5    S            float64
 6    C            float64
 7    A            float64
 8    S_01         float64
 9    S_02         float64
 10   S_03         float64
 11   S_04         float64
 12   S_05         float64
 13   C_01         float64
 14   C_02         float64
 15   C_03         float64
 16   A_01         float64
 17   A_02         float64
 18   A_03         float64
 19   EI_01        float64
 20   EI_02        float64
 21   EI_03        float64
 22   EI_04        float64
 23   EI_05        float64
 24   EI_06        float64
 25   EI_07        float64
 26   SI_01        float64
 27   SI_02        float64
 28   SI_03        float64
 29   SI_04        float64
 30   SI_05        float64
 31   SI_06        float64
 32   SI_07        float64
 33   SI_08        float64
 34   SI_09        float64
 35   SI_10        float64
 36   SI_11        float64
 37   SI_12        float64
 38   SI_13        float64
 39   SI_14        float64
 40   CI_01        float64
 41   CI_02        float64
 42   CI_03        float64
 43   CI_04        float64
 44   CI_05        float64
 45   CI_06        float64
 46   CI_07        float64
 47   AI_01        float64
 48   AI_02        float64
 49   AI_03        float64
 50   AI_04        float64
 51   EI_01a_Norm  float64
 52   EI_01a_Base  float64
 53   EI_01b_Norm  float64
 54   EI_01b_Base  float64
 55   EI_01c_Norm  float64
 56   EI_01c_Base  float64
 57   EI_01d_Norm  float64
 58   EI_01d_Base  float64
 59   EI_01e_Norm  float64
 60   EI_01e_Base  float64
 61   EI_01f_Norm  float64
 62   EI_01f_Base  float64
 63   EI_02a_Norm  float64
 64   EI_02a_Base  float64
 65   EI_02b_Norm  float64
 66   EI_02b_Base  float64
 67   EI_02c_Norm  float64
 68   EI_02c_Base  float64
 69   EI_02d_Norm  float64
 70   EI_02d_Base  float64
 71   EI_02e_Norm  float64
 72   EI_02e_Base  float64
 73   EI_02f_Norm  float64
 74   EI_02f_Base  float64
 75   EI_03a_Norm  float64
 76   EI_03a_Base  float64
 77   EI_03b_Norm  float64
 78   EI_03b_Base  float64
 79   EI_03c_Norm  float64
 80   EI_03c_Base  float64
 81   EI_03d_Norm  float64
 82   EI_03d_Base  float64
 83   EI_03e_Norm  float64
 84   EI_03e_Base  float64
 85   EI_03f_Norm  float64
 86   EI_03f_Base  float64
 87   EI_04a_Norm  float64
 88   EI_04a_Base  float64
 89   EI_04b_Norm  float64
 90   EI_04b_Base  float64
 91   EI_04c_Norm  float64
 92   EI_04c_Base  float64
 93   EI_04d_Norm  float64
 94   EI_04d_Base  float64
 95   EI_04e_Norm  float64
 96   EI_04e_Base  float64
 97   EI_04f_Norm  float64
 98   EI_04f_Base  float64
 99   EI_05a_Norm  float64
 100  EI_05a_Base  float64
 101  EI_05b_Norm  float64
 102  EI_05b_Base  float64
 103  EI_05c_Norm  float64
 104  EI_05c_Base  float64
 105  EI_05d_Norm  float64
 106  EI_05d_Base  float64
 107  EI_05e_Norm  float64
 108  EI_05e_Base  float64
 109  EI_05f_Norm  float64
 110  EI_05f_Base  float64
 111  EI_06a_Norm  float64
 112  EI_06a_Base  float64
 113  EI_06b_Norm  float64
 114  EI_06b_Base  float64
 115  EI_06c_Norm  float64
 116  EI_06c_Base  float64
 117  EI_06d_Norm  float64
 118  EI_06d_Base  float64
 119  EI_06e_Norm  float64
 120  EI_06e_Base  float64
 121  EI_06f_Norm  float64
 122  EI_06f_Base  float64
 123  EI_07a_Norm  float64
 124  EI_07a_Base  float64
 125  EI_07b_Norm  float64
 126  EI_07b_Base  float64
 127  SI_01a_Norm  float64
 128  SI_01a_Base  float64
 129  SI_01b_Norm  float64
 130  SI_01b_Base  float64
 131  SI_02a_Norm  float64
 132  SI_02a_Base  float64
 133  SI_02b_Norm  float64
 134  SI_02b_Base  float64
 135  SI_03a_Norm  float64
 136  SI_03a_Base  float64
 137  SI_03b_Norm  float64
 138  SI_03b_Base  float64
 139  SI_04a_Norm  float64
 140  SI_04a_Base  float64
 141  SI_04b_Norm  float64
 142  SI_04b_Base  float64
 143  SI_05a_Norm  float64
 144  SI_05a_Base  float64
 145  SI_05b_Norm  float64
 146  SI_05b_Base  float64
 147  SI_06a_Norm  float64
 148  SI_06a_Base  float64
 149  SI_06b_Norm  float64
 150  SI_06b_Base  float64
 151  SI_07a_Norm  float64
 152  SI_07a_Base  float64
 153  SI_07b_Norm  float64
 154  SI_07b_Base  float64
 155  SI_08a_Norm  float64
 156  SI_08a_Base  float64
 157  SI_08b_Norm  float64
 158  SI_08b_Base  float64
 159  SI_09a_Norm  float64
 160  SI_09a_Base  float64
 161  SI_09b_Norm  float64
 162  SI_09b_Base  float64
 163  SI_10a_Norm  float64
 164  SI_10a_Base  float64
 165  SI_10b_Norm  float64
 166  SI_10b_Base  float64
 167  SI_11_Base   float64
 168  SI_12a_Norm  float64
 169  SI_12a_Base  int64
 170  SI_12b_Norm  float64
 171  SI_12b_Base  float64
 172  SI_13a_Norm  float64
 173  SI_13a_Base  float64
 174  SI_13b_Norm  float64
 175  SI_13b_Base  float64
 176  SI_14a_Norm  float64
 177  SI_14a_Base  float64
 178  SI_14b_Norm  float64
 179  SI_14b_Base  float64
 180  SI_15a_Norm  float64
 181  SI_15a_Base  float64
 182  SI_15b_Norm  float64
 183  SI_15b_Base  float64
 184  SI_15c_Norm  float64
 185  SI_15c_Base  float64
 186  SI_15d_Norm  float64
 187  SI_15d_Base  float64
 188  CI_01a_Norm  float64
 189  CI_01a_Base  float64
 190  CI_01b_Norm  float64
 191  CI_01b_Base  float64
 192  CI_02a_Norm  float64
 193  CI_02a_Base  float64
 194  CI_02b_Norm  float64
 195  CI_02b_Base  float64
 196  CI_03a_Norm  float64
 197  CI_03a_Base  float64
 198  CI_03b_Norm  float64
 199  CI_03b_Base  float64
 200  CI_04a_Norm  float64
 201  CI_04a_Base  float64
 202  CI_04b_Norm  float64
 203  CI_04b_Base  float64
 204  CI_05a_Norm  float64
 205  CI_05a_Base  float64
 206  CI_05b_Norm  float64
 207  CI_05b_Base  float64
 208  CI_06a_Norm  float64
 209  CI_06a_Base  float64
 210  CI_06b_Norm  float64
 211  CI_06b_Base  float64
 212  CI_07a_Norm  float64
 213  CI_07a_Base  float64
 214  CI_07b_Norm  float64
 215  CI_07b_Base  float64
 216  AI_01a_Norm  float64
 217  AI_01a_Base  float64
 218  AI_01b_Norm  float64
 219  AI_01b_Base  float64
 220  AI_01c_Norm  float64
 221  AI_01c_Base  float64
 222  AI_02a_Norm  float64
 223  AI_02a_Base  float64
 224  AI_02b_Norm  float64
 225  AI_02b_Base  float64
 226  AI_02c_Norm  float64
 227  AI_02c_Base  float64
 228  AI_03a_Norm  float64
 229  AI_03a_Base  float64
 230  AI_03b_Norm  float64
 231  AI_03b_Base  float64
 232  AI_03c_Norm  float64
 233  AI_03c_Base  float64
 234  AI_04a_Norm  float64
 235  AI_04a_Base  int64
 236  AI_04b_Norm  float64
 237  AI_04b_Base  int64
 238  AI_04c_Norm  float64
 239  AI_04c_Base  int64
 240  AI_05a_Norm  float64
 241  AI_05a_Base  float64
 242  AI_05b_Norm  float64
 243  AI_05b_Base  float64
 244  Year         int64
dtypes: float64(238), int64(5), object(2)
memory usage: 8.7+ MB

We find that there are inconsistency in columns
```
WRI.Country  > Rename Attr
ISO3.Code  > Rename Attr
Year  >  Add where missing
SI_10_Norm > Min-Max Norm
SI_10_Base > Min-Max Norm
SI_11_Norm > Min-Max Norm
```

In [140]:
COLUMNS = a.columns

## Description and Visualization

## Correlation Analysis

In [141]:
x = []
for c in COLUMNS:
    if "I" not in c:
        x.append(c)
data = a[x]

data.describe()

,W,E,V,S,C,A,S_01,S_02,S_03,S_04,S_05,C_01,C_02,C_03,A_01,A_02,A_03,Year
count,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000
mean,8.093871,5.326598,23.821079,21.810149,19.038875,42.026218,48.224421,30.700257,48.356794,7.791412,48.367722,10.500097,49.514082,48.816839,48.580343,38.494439,47.461209,2011.500000
std,9.141849,10.050235,16.672180,17.183243,20.517906,17.892542,15.304850,25.125932,15.592063,16.339170,15.646773,19.897971,17.269909,17.421748,15.042478,21.915024,15.953295,6.922934
min,0.220000,0.020000,2.290000,1.660000,0.130000,2.200000,3.370000,0.060000,1.660000,0.010000,2.590000,0.010000,0.010000,1.980000,1.910000,0.410000,0.010000,2000.000000
25%,2.200000,0.240000,11.080000,8.537500,6.340000,28.997500,37.917500,3.780000,36.770000,0.160000,37.630000,0.400000,37.610000,36.430000,38.017500,25.505000,36.557500,2005.750000
50%,4.120000,1.050000,19.645000,16.150000,11.440000,43.685000,50.565000,34.640000,49.345000,0.655000,49.485000,0.605000,50.775000,48.645000,48.625000,38.225000,48.320000,2011.500000
75%,10.415000,5.230000,30.572500,30.630000,15.012500,56.445000,60.592500,52.172500,59.465000,2.830000,60.200000,0.830000,61.565000,62.620000,60.470000,55.540000,58.697500,2017.250000
max,47.240000,64.590000,76.220000,75.770000,86.480000,81.810000,77.340000,87.820000,88.930000,76.970000,82.550000,83.460000,100.000000,91.910000,83.400000,93.620000,100.000000,2023.000000

### Susceptibility

In [150]:
x = []
for c in data.columns:
    if "S" in c:
        x.append(c)
s = data[x]
s.head()

       S   S_01   S_02   S_03   S_04   S_05
0  61.91  65.90  70.66  70.10  59.38  46.92
1  12.58  53.08  15.47  36.27   2.05   5.17
2  30.07  48.02  35.44  43.51   8.87  37.41
3   2.58  33.23   0.54  30.52   0.01  20.96
4  35.52  59.61  64.24  81.51   2.59  69.93

# UNUSED CODES

In [143]:
x = ["Year"]

for c in a.columns:
    if ("SI_10" in c):
        x.append(c)

p = a[x]
p.head()

   Year  SI_10  SI_10a_Norm  SI_10a_Base  SI_10b_Norm  SI_10b_Base
0  2000  85.59        85.59       100.16        19.49         4.70
1  2000  46.49        46.26        48.45        58.17        11.27
2  2000  50.46        50.70        56.03        45.30         7.02
3  2000  23.60        34.58        30.85        60.57        14.65
4  2000  79.55        81.55        93.96        24.59         5.11

In [144]:
p.tail()

     Year  SI_10  SI_10a_Norm  SI_10a_Base  SI_10b_Norm  SI_10b_Base
188  2023  66.81        66.81        69.92        40.25         6.57
189  2023  33.89        46.02        32.82        54.46        12.74
190  2023  64.76        66.46        69.42        22.89         4.68
191  2023  71.32        73.91        78.66        11.44         3.16
192  2023  69.54        69.12        73.36        37.72         6.03

In [145]:
p.describe()

,Year,SI_10,SI_10a_Norm,SI_10a_Base,SI_10b_Norm,SI_10b_Base
count,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000
mean,2011.500000,50.000047,49.910255,48.708178,50.000358,12.254644
std,6.922934,17.827748,17.864484,22.901600,17.826953,8.226182
min,2000.000000,0.010000,0.010000,14.920000,0.010000,0.800000
25%,2005.750000,38.010000,37.825000,28.190000,38.010000,5.990000
50%,2011.500000,50.000000,50.000000,43.950000,50.000000,8.930000
75%,2017.250000,61.990000,61.990000,67.450000,61.990000,17.832500
max,2023.000000,100.000000,100.000000,106.530000,100.000000,70.220000

In [146]:
#Calculating S10_Base
import pandas as pd
d = pd.read_csv('worldriskindex-datasets\worldriskindex-2000.csv')
#print(d.columns)

x = []

for c in d.columns:
    if ("SI_10" in c):
        x.append(c)
#print(d[x].shape)
year = pd.DataFrame({'Year': [2000] * 193})
s_2000 = pd.concat([year, d[x]],axis = 1)

#Creating S_10_Base

s_2000["SI_10_Base"] = s_2000["SI_10a_Base"] + s_2000["SI_10b_Base"]

 

# columns_to_normalize = ["SI_10a_Norm","SI_10b_Norm"]
# s_2000['SI_10_Norm'] = s_2000[columns_to_normalize].apply(min_max_normalize, axis=1)
# s_2000.head()

In [147]:
print("Help! Please\n :')")

Help! Please
 :')