### Workflow:

- Before start:
    - Add files
    - Combine all files
    - import libraries
- Experiment:
    - EVERYTHING

# 1: Import libs and files

In [47]:
import pandas as pd


# a = pd.read_csv('worldriskindex-datasets\worldriskindex-2000.csv')
# print("Before:")
# a.info()

# bak = a.copy()

a = pd.DataFrame()

link = 'worldriskindex-datasets\worldriskindex-'
for y in range(2000,2024):
    b = pd.read_csv(f"{link}{y}.csv")
    
    if ("Year" not in b.columns):
        b["Year"] = y

    if ("WRI.Country" in b.columns):
        b.rename(columns={'WRI.Country': 'Country'}, inplace=True)
        
    if ("ISO3.Code" in b.columns):
        b.rename(columns={'ISO3.Code': 'ISO3'}, inplace=True)
    
    a = pd.concat([a, b], axis=0)
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4632 entries, 0 to 192
Columns: 248 entries, Country to SI_11_Norm
dtypes: float64(241), int64(5), object(2)
memory usage: 8.8+ MB

We find that there are inconsistency in columns
```
WRI.Country  > Rename Attr
ISO3.Code  > Rename Attr
Year  >  Add where missing
SI_10_Norm > Min-Max Norm
SI_10_Base > Min-Max Norm
SI_11_Norm > Min-Max Norm
```

In [50]:
x = ["Year"]

for c in a.columns:
    if ("SI_10" in c):
        x.append(c)

p = a[x]
p.head()

,Year,SI_10,SI_10a_Norm,SI_10a_Base,SI_10b_Norm,SI_10b_Base,SI_10_Norm,SI_10_Base
0,2000,85.59,85.59,100.16,19.49,4.70,NaN,NaN
1,2000,46.49,46.26,48.45,58.17,11.27,NaN,NaN
2,2000,50.46,50.70,56.03,45.30,7.02,NaN,NaN
3,2000,23.60,34.58,30.85,60.57,14.65,NaN,NaN
4,2000,79.55,81.55,93.96,24.59,5.11,NaN,NaN

In [51]:
p.tail()

,Year,SI_10,SI_10a_Norm,SI_10a_Base,SI_10b_Norm,SI_10b_Base,SI_10_Norm,SI_10_Base
188,2023,66.81,66.81,69.92,40.25,6.57,66.81,76.49
189,2023,33.89,46.02,32.82,54.46,12.74,33.89,45.56
190,2023,64.76,66.46,69.42,22.89,4.68,64.76,74.10
191,2023,71.32,73.91,78.66,11.44,3.16,71.32,81.82
192,2023,69.54,69.12,73.36,37.72,6.03,69.54,79.39

In [52]:
p.describe()

,Year,SI_10,SI_10a_Norm,SI_10a_Base,SI_10b_Norm,SI_10b_Base,SI_10_Norm,SI_10_Base
count,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,4632.000000,193.000000,193.000000
mean,2011.500000,50.000047,49.910255,48.708178,50.000358,12.254644,50.000052,59.195285
std,6.922934,17.827748,17.864484,22.901600,17.826953,8.226182,17.872167,16.048621
min,2000.000000,0.010000,0.010000,14.920000,0.010000,0.800000,0.010000,20.340000
25%,2005.750000,38.010000,37.825000,28.190000,38.010000,5.990000,38.010000,49.390000
50%,2011.500000,50.000000,50.000000,43.950000,50.000000,8.930000,50.000000,54.900000
75%,2017.250000,61.990000,61.990000,67.450000,61.990000,17.832500,61.990000,68.980000
max,2023.000000,100.000000,100.000000,106.530000,100.000000,70.220000,100.000000,105.440000

In [ ]:
print("Help! Please\n :')")

Help! Please
 :')